/* tablet */

@media screen and (min-width: 768px) {
    /* header */
    .container-header {
        width: 90%;
    }

    .header h2{
        font-size: 1.3rem
    }   
    
    .bars{
        display: none;
    }

    header ul {
        padding: 0;
        margin: 0;
        display: flex !important;
        gap: 1rem;
        list-style-type: none;
        font-size: 0.8rem;       
    }

    /* hero */
    .hero img {
        width: 200px;
    }

    .hero h1 {
        font-size: 2.5rem;
    }
    
    .hero h3 {
        font-size: 1.2rem;
    }

    .lines {
        width: 100px;
    }


}





/* pc */
@media screen and (min-width: 992px) {
    /* header */
   
}