

:root {
    --header: #2C3E50;
    --section: #1ABC9C;
    --card1: #BA4B63;
    --card2: #1EA4B6;
    --card3: #140F0F;
    --card4: #1C83C1;
    --card5: #0E38B5;
    --card6: #CCB2A3;
    --footer-top: #3A546D;
    --txt: #2C3E50;
}

/* common */
.background {
    background-color: var(--section);
}

img {
    max-width: 100%;
}



/* header */
header {
    background-color: var(--header);
    position: fixed;
    width: 100%;

}

.header {
    color: white;
    display: flex;
    justify-content:space-between;
    padding: 1rem 0;
    align-items: center;   
}

.bars {
    border: 1px solid white;
    padding:0.5rem;
    border-radius: 5px;    
}

.header h2 {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    height: 1rem;
    line-height: 1rem;
}

.header ul {
    display: none;
}

/* hero */
.hero {
    padding-top: 6rem;
    background-color: var(--section);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.hero img {
    width: calc(100%/2)
}

.hero h1 {
    padding-top:1rem;
}

.star {
    display: flex;
    font-size: 1.5rem;
    align-items: center; 
    justify-content: center;
    gap: .5rem;
}

.lines {
    border: 3px solid white;
    height: 3px;
    width: 70px;
    border-radius: 3px;
   
}

.hero h3 {
    font-size: 1rem;
    padding: 1rem 0;
}

/* portfolio */
.container-portfolio {
    padding-top: 2rem;
}

.container-portfolio h3{
    text-align: center;
    margin-bottom: 1rem;
}

.container-portfolio .star {
    color: var(--txt);  
    margin-bottom: 1rem;

}

.container-portfolio .star .lines{
    border: 3px solid var(--txt);
}

.radius {
    border-radius: 1rem;
    margin-bottom: 2rem;
}

/* about */
.small-container {
    width: 70%;
}

.about {
    color: white;   
}

.about h3 {
    text-align: center;
    padding-top: 2rem ;
}

.row {
    justify-content: center;
}

.btn {
    color: white;
    border: 1px solid white;
    width: fit-content;
    cursor: pointer;   
}
.btn a { 
    text-decoration: none;
    color: white;
}